## Nominal One Hot Encoder 

- Red : [1,0,0]
- Green : [0,1,0]
- Blue : [0,0,1]

In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
## create a simple dataFrame

df = pd.DataFrame(
    {
        'color' : ['Red', 'Green', 'Blue', 'Green', 'Red', 'Blue']
    }
)

In [3]:
df.head()

   color
0    Red
1  Green
2   Blue
3  Green
4    Red

In [7]:
# create an instance of oneHot Encoder

encoder = OneHotEncoder()

In [11]:
## perform fit and transform 

encoded = encoder.fit_transform(df[['color']]).toarray()

In [12]:
import pandas as pd
encoder_df = pd.DataFrame(encoded, columns= encoder.get_feature_names_out())

In [13]:
encoder_df

   color_Blue  color_Green  color_Red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [14]:
encoder.transform([['Blue']]).toarray()

d:\Machine Learning full\Python\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [15]:
pd.concat([df,encoder_df],axis=1)

   color  color_Blue  color_Green  color_Red
0    Red         0.0          0.0        1.0
1  Green         0.0          1.0        0.0
2   Blue         1.0          0.0        0.0
3  Green         0.0          1.0        0.0
4    Red         0.0          0.0        1.0
5   Blue         1.0          0.0        0.0